.button {
  background-color: var(--secondary-color);
  height: 2.4rem;
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-regular);
  color: var(--secondary-text-color);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}
.icon {
  width: 1.2rem;
  height: 1.2rem;
  background-repeat: no-repeat;
}
