@import url("theme.css");

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend,
button,
input,
textarea,
pre,
blockquote,
address {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
pre,
blockquote,
address {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}
